.container {
  display: flex;
  min-height: 75vh;
  background-color: #f5f5f5;
}

.imageContainer {
  flex: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textContainer {
  flex: 1;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: #205691;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #444;
  }
}


@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .textContainer {
    padding: 2rem;
  }
}