.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75vh;
  background-color: #f5f5f5;
  padding: 0 4rem;
}

.textContainer {
  flex: 1;

  h1 {
    font-size: 3.5rem;
    color: #205691;
    margin-bottom: 1.5rem;
    line-height: 1.1;
  }

  p {
    font-size: 1.1rem;
    color: #205691;
    font-weight: 500;
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  img {
    width: 90%;
    max-width: 600px;
  }
}


@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .imageContainer {
    justify-content: center;
    margin-top: 2rem;

    img {
      width: 100%;
    }
  }

  .textContainer h1 {
    font-size: 2.5rem;
  }
}